PROJECT_NAME     = "immer"
OUTPUT_DIRECTORY = _doxygen
GENERATE_LATEX   = NO
GENERATE_MAN     = NO
GENERATE_RTF     = NO
GENERATE_HTML    = NO
GENERATE_XML     = YES
INPUT            = ../immer
INCLUDE_PATH     = ..
QUIET            = YES

JAVADOC_AUTOBRIEF = YES
ENABLE_PREPROCESSING = YES
MARKDOWN_SUPPORT = YES

ALIASES  = "rst=\verbatim embed:rst"
ALIASES += "endrst=\endverbatim"
